<!DOCTYPE html>
<html>
    <head>
        <title> Reddit Reader </title>
        <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
    </head>
    <body>
        <header>
            <h1>Remote Jobs</h1>
        </header>
        <main>
            <form action="/search">
                <label>Search by term:</label>
                <input type="text" name="word" id="word" placeholder="i.e python"/>
                <button type="submit">Find my Job</button>
            </form>
        </main>
    </body>
</html> 